:root {
  --template: #141414;
  --template-secondary: #151f30;
  --template-terciary: rgba(246, 105, 70, 1);
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: var(--iq-primary);
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --iq-title-text: #fff;
  --iq-body-text: #d1d0cf;
  --iq-body-bg: #141414;
  --iq-primary: #fb9678;
  --iq-secondary: #83878a;
  --iq-success: #14e788;
  --iq-warning: #f68a04;
  --iq-danger: #545e75;
  --iq-info: #007aff;
  --iq-dark: #000;
  --iq-light: #fafafb;
  --iq-white: #fff;
  --iq-black: #fff;
  --iq-gray: #b1b1b1;
  --iq-dark1: #a2a4af;
  --iq-light-primary: rgba(226, 14, 2, 0.2);
  --iq-light-secondary: rgba(131, 135, 138, 0.2);
  --iq-light-success: rgba(20, 231, 136, 0.2);
  --iq-light-danger: rgba(84, 94, 117, 0.2);
  --iq-light-warning: rgba(246, 138, 4, 0.2);
  --iq-light-info: rgba(0, 122, 255, 0.2);
  --iq-light-light: rgba(250, 250, 251, 0.2);
  --iq-light-dark: rgba(0, 0, 0, 0.2);
  --iq-primary-hover: #bf000a;
  --iq-secondary-hover: #807e7e;
  --iq-success-hover: #42f9d9;
  --iq-danger-hover: #3c4354;
  --iq-warning-hover: #fdb45e;
  --iq-info-hover: #c280ea;
  --iq-dark-hover: #44454e;
  --iq-light-hover: #eaeeff;
  --iq-border: #141414;
  --iq-border-light: #141414;
  --iq-border-danger: #ff9273;
  --iq-light-card: #191919;
  --iq-primary-rgb: 100, 114, 248;
  --iq-primary-light: #f3fffe;
  --iq-bg1: #363636;
  --iq-disable: #313946;
  --iq-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --active: black;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: var(--iq-body-text);
  background: var(--iq-body-bg);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0;
  line-height: 1.2;
  color: var(--iq-white);
}

input, textarea, select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  transition: 0.5s ease;
  transition-property: color, border-color;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  transition: 0.5s ease;
  transition-property: color, background-color, border-color;
  color: #007bff;
  background-color: transparent;
}

.h-overflow-hidden {
  overflow: hidden;
}

::selection {
  background: var(--iq-primary);
  color: var(--iq-white);
  text-shadow: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 20px;
}