@mixin transition($attr...) {
  transition: $attr;
  -webkit-transition: $attr;
  -moz-transition: $attr;
  -o-transition: $attr;
}

@mixin backgroundColor($hover: true) {
  &--primary {
    color: #fff;
    background-color: var(--iq-primary);

    @if ($hover) {
      &:hover {
        background-color: var(--iq-primary-hover);
      }
    }
  }

  &--secondary {
    color: #fff;
    background-color: var(--iq-secondary);

    @if ($hover) {
      &:hover {
        background-color: var(--iq-secondary-hover);
      }
    }
  }
}

@mixin Container() {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1300px) {
    max-width: 1170px;
  }

  @media (min-width: 1499px) {
    max-width: 1266px;
  }
}