@import "./variables";

@mixin transition($attr...) {
  transition: $attr;
  -webkit-transition: $attr;
  -moz-transition: $attr;
  -o-transition: $attr;
}

@mixin backgroundColor($hover: true, $dash: '--') {
  &#{$dash}primary {
    color: #fff;
    background-color: var(--iq-primary);

    @if ($hover) {
      &:hover {
        background-color: var(--iq-primary-hover);
      }
    }
  }

  &#{$dash}secondary {
    color: #fff;
    background-color: var(--iq-secondary);

    @if ($hover) {
      &:hover {
        background-color: var(--iq-secondary-hover);
      }
    }
  }

  &#{$dash}dark {
    color: #fff;
    background-color: $harvey-black;
    @if ($hover) {
      &:hover {
        background-color: #2f80ed;
      }
    }
  }
}

@mixin Container() {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1300px) {
    max-width: 1170px;
  }

  @media (min-width: 1499px) {
    max-width: 1266px;
  }
}

@mixin ImageCover {
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.9) 100%);
    opacity: 0.65;
    transition: 0.5s;
  }
}

@mixin ImageCoverTwo {
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    background: linear-gradient(180deg, rgba(19, 23, 32, 0.5) 0%, #131720 100%);
    pointer-events: none;
  }
}

@mixin Input {
  background-color: $harvey-black;
  border: 1px solid transparent;
  border-radius: 16px;
  height: 44px;
  position: relative;
  color: #fff;
  font-size: 14px;
  width: 100%;
  padding: 0 20px;
  &:focus {
    background-color: $harvey-black;
    border-color: #2f80ed;
  }
}