// Variables
$harvey-black: #151f30;
$harvey-white: #e0e0e0;
$harvey-red: #ff2323;
$harvey-green: #005f20;
$harvey-blue: #070bce;
$orange: rgba(246, 105, 70, 1);

//Buttons
$button-default: var(--blue);

//Transitions
$transition-bg: background-color .3s ease-in-out;

//Separators
$margin-bottom: 1.2em;
$grid-gap: .8em;
$separator: .5rem;

//Title
$title: 1.1em;

//responsive
$responsive-mobile: 480px;
$responsive-tablet: 768px;
$responsive-laptops: 1024px;
$responsive-desktop: 1200px;
$responsive-large: 1400px;